@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=range] {
  -webkit-appearance: none;
  overflow: hidden;
  width: 100%;
  background: transparent;
  @apply rounded-full;
  @apply h-5;
}

input[type=range]::-webkit-slider-thumb {
  @apply w-5;
  @apply h-5;
  margin-top: 0px;
  @apply appearance-none;
  @apply bg-gray-800;
  box-shadow: -300px 0 0 300px #A3A3A3;
}

input[type=range]::-webkit-slider-runnable-track {
  @apply w-full;
  @apply h-5;
  @apply bg-gray-500;
}